In [2]:
import sqlite3

# Substitua 'seu_banco_de_dados.db' pelo nome que você deseja para o banco de dados
banco_de_dados = 'banco_de_dados.db'

# Cria uma conexão com o banco de dados (ele será criado se não existir)
conexao = sqlite3.connect(banco_de_dados)

# Cria um cursor para executar comandos SQL
cursor = conexao.cursor()

# Defina suas tabelas e esquema aqui

cursor.execute('''
    CREATE TABLE IF NOT EXISTS exemplo (
        id INTEGER PRIMARY KEY,
        nome TEXT,
        genero TEXT, 
        idade INTEGER,
        email TEXT, 
        telefone INT,
        estado_civil TEXT
    )
''')

# Salva as alterações e fecha a conexão com o banco de dados
conexao.commit()
conexao.close()

print(f'Banco de dados "{banco_de_dados}" criado com sucesso!')

Banco de dados "banco_de_dados.db" criado com sucesso!

Neste exemplo, o script cria um banco de dados SQLite chamado 'seu_banco_de_dados.db' e define uma tabela de exemplo chamada 'exemplo' com três colunas: 'id', 'nome' e 'idade'. Você pode personalizar o esquema do banco de dados e as tabelas de acordo com suas necessidades. Certifique-se de que o nome do banco de dados e as definições de tabela correspondam ao que você deseja criar.

Vou criar uma massa de dados de exemplo e preencher a tabela 'exemplo' no banco de dados SQLite que criamos anteriormente. Você pode ajustar os valores de acordo com suas necessidades:

In [4]:
# Salva as alterações e fecha a conexão
conexao.commit()
conexao.close()

In [ ]:
import sqlite3

# Substitua pelo nome do seu banco de dados
banco_de_dados = 'banco_de_dados.db'

# Dados de exemplo com mais atributos
dados_exemplo = [
    (1, 'Alice', 'Feminino', 28, 'alice@email.com', '123-456-7890', 'maried'),
    (2, 'Bob', 'Masculino', 32, 'bob@email.com', '987-654-3210', 'maried'),
    (3, 'Carlos', 'Masculino', 45, 'carlos@email.com', '555-555-5555', 'maried'),
    (4, 'Daniela', 'Feminino', 22, 'daniela@email.com', '999-888-7777', 'maried'),
    (5, 'Eduardo', 'Masculino', 35, 'eduardo@email.com', '111-222-3333', 'maried'),
    (6, 'Fernanda', 'Feminino', 29, 'fernanda@email.com', '777-888-9999', 'maried'),
    (7, 'Gabriel', 'Masculino', 28, 'gabriel@email.com', '333-444-5555', 'maried'),
    (8, 'Hugo', 'Masculino', 42, 'hugo@email.com', '555-111-3333', 'single'),
    (9, 'Isabela', 'Feminino', 31, 'isabela@email.com', '777-999-0000', 'single'),
    (10, 'João', 'Masculino', 29, 'joao@email.com', '444-333-2222', 'single'),    
    (11, 'Laura', 'Feminino', 27, 'laura@email.com', '111-222-3333', 'single'),
    (12, 'Miguel', 'Masculino', 30, 'miguel@email.com', '444-555-6666', 'single'),
    (13, 'Natália', 'Feminino', 35, 'natalia@email.com', '777-888-9999', 'maried'),
    (14, 'Oliver', 'Masculino', 29, 'oliver@email.com', '222-333-4444', 'single'),
    (15, 'Paula', 'Feminino', 40, 'paula@email.com', '555-666-7777', 'maried'),
    (16, 'Rafael', 'Masculino', 33, 'rafael@email.com', '888-999-0000', 'maried'),
    (17, 'Sofia', 'Feminino', 28, 'sofia@email.com', '333-444-5555', 'maried'),
    (18, 'Thiago', 'Masculino', 31, 'thiago@email.com', '666-777-8888', 'maried'),
    (19, 'Valentina', 'Feminino', 26, 'valentina@email.com', '111-222-3333', 'single'),
    (20, 'William', 'Masculino', 38, 'william@email.com', '444-555-6666', 'single'),
    (21, 'Ximena', 'Feminino', 32, 'ximena@email.com', '777-888-9999', 'maried'),
    (22, 'Yago', 'Masculino', 29, 'yago@email.com', '222-333-4444', 'single'),
    (23, 'Zara', 'Feminino', 29, 'zara@email.com', '555-666-7777', 'maried'),
    (24, 'Alex', 'Masculino', 27, 'alex@email.com', '123-456-7890', 'single'),
    (25, 'Beatriz', 'Feminino', 33, 'beatriz@email.com', '987-654-3210', 'single'),
    (26, 'César', 'Masculino', 45, 'cesar@email.com', '555-555-5555', 'single'),
    (27, 'Diana', 'Feminino', 22, 'diana@email.com', '999-888-7777', 'single'),
    (28, 'Eduarda', 'Feminino', 35, 'eduarda@email.com', '111-222-3333', 'single'),
    (29, 'Felipe', 'Masculino', 30, 'felipe@email.com', '777-888-9999', 'single'),
    (30, 'Giovanna', 'Feminino', 28, 'giovanna@email.com', '333-444-5555', 'maried'),
    (31, 'Henrique', 'Masculino', 31, 'henrique@email.com', '666-777-8888', 'maried'),
    (32, 'Isaac', 'Masculino', 26, 'isaac@email.com', '123-456-7890', 'maried'),
    (33, 'Júlia', 'Feminino', 30, 'julia@email.com', '987-654-3210', 'single'),
    (34, 'Kauã', 'Masculino', 41, 'kaua@email.com', '555-555-5555', 'maried'),
    (35, 'Lara', 'Feminino', 25, 'lara@email.com', '999-888-7777', 'single'),
    (36, 'Mateus', 'Masculino', 34, 'mateus@email.com', '111-222-3333', 'single'),
    (37, 'Nina', 'Feminino', 29, 'nina@email.com', '777-888-9999', 'single'),
    (38, 'Otávio', 'Masculino', 27, 'otavio@email.com', '123-456-7890', 'single'),
    (39, 'Pietra', 'Feminino', 32, 'pietra@email.com', '987-654-3210', 'single'),
    (40, 'Raul', 'Masculino', 36, 'raul@email.com', '555-555-5555', 'single'),
    (41, 'Sara', 'Feminino', 23, 'sara@email.com', '999-888-7777', 'single'),
    (42, 'Thales', 'Masculino', 35, 'thales@email.com', '111-222-3333', 'single'),
    (43, 'Uma', 'Feminino', 28, 'uma@email.com', '777-888-9999', 'single'),

]

# Conecta-se ao banco de dados
conexao = sqlite3.connect(banco_de_dados)
cursor = conexao.cursor()

# Insere os dados na tabela 'exemplo' com mais atributos
cursor.executemany('''
    INSERT INTO exemplo (id, nome, genero, idade, email, telefone, estado_civil)
    VALUES (?, ?, ?, ?, ?, ?, ?)
    ''', 
    dados_exemplo)

# Salva as alterações e fecha a conexão
conexao.commit()
conexao.close()

print('Dados inseridos com sucesso!')

apenas certifique-se de atualizar os valores dos atributos como 'id', 'nome', 'genero', 'idade', 'email' e 'telefone' para corresponder aos dados desejados. Certifique-se também de que o nome do banco de dados e o esquema da tabela estejam corretos.